@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,800&display=swap');

body,html{
        overflow-x: hidden;
}
*{
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        font-family: 'Fira Sans', sans-serif;
}
.services-technology{
    position: relative;
    width: 100%;
}
.servicesMain-Head{
    position: relative;
    width: 100%;
    height: 100vh;
}
.servicesmainHead-Content{
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    z-index: 5;
    text-transform: capitalize;
}
.servicesmainHead-Content h2{
    font-size: 3.8rem;
    width: 60%;
}
.servicesmainHead-Content p{
    font-size: 1.2rem;
    margin:10rem 20rem 2rem 0rem;
}
.serviceslanding-title{
   position: relative;
   width: 100%;
   height: 100vh;
}
.serviceslanding-content{
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 50;
    text-transform: capitalize;
}
.serviceslanding-content h2{
    font-size: 3.8rem;
}
.serviceslanding-content p{
    margin-bottom: 2rem;
    font-size: 1.4rem;
}
.services-content{
    padding:2rem 4rem 0rem 4rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.cards-content{
    position: relative;
    /* background-color: var(--background-color); */
    padding:4rem;
}
.services-cards{
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 2rem;
    padding:2rem;
}
.services-card{
    box-shadow: 0px 0px 20px 0px rgba(78, 76, 76, 0.2);
    padding:1rem;
    font-size: 1.2rem;
    /* margin:2rem; */
    background-color: white;
}
.services-card h5{
    text-align: center;
    font-size: 1.8rem;
    margin:1.6rem 0rem;
    color:var(--background-color);
}
.services-card > p{
    padding:1rem;
}
.services-check{
    line-height: 1.8rem;
    padding:1rem;
}
@media (max-width:600px) {
    .servicesmainHead-Content{
        text-align: center;
    }
    .servicesMain-Head{
        height: 100%;
    }
    .servicesmainHead-Content{
        align-items: center;
        justify-content: center;
    }
    .servicesmainHead-Content h2{
        font-size: 1.2rem;
    }
    .servicesmainHead-Content p{
        margin:2rem;
        font-size: 0.8rem;    
    }
    .cards-content{
        padding:1rem;
    }
    .services-cards{
        grid-template-columns: 1fr;
        padding: 0.2rem;
    }
}
.process-content{
    background-color: #030c1b;
    color: rgb(235, 232, 232);
    font-size: 1.65rem;
    padding: 4rem 4rem;
    word-spacing: 0.2rem;
    line-height: 2.2rem;
}
.processMining-content{
    position: relative;
    color: white;
    text-align: center;
    padding:2rem 0rem;
    word-spacing: 0.1rem;
}
.miningSubHead{
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.miningSubHead h3{
    margin-bottom: 2rem;
    font-size: 3.2rem;
}
.miningSubHead p{
    background-color:#030c1b;
    font-size: 1.6rem;
    padding: 2rem;
}
.mining-content{
    padding: 2rem;
    font-size: 1.21rem;
    margin-bottom: 2rem;
}
.mining-about{
    padding: 1rem;
    margin:2rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.6rem;
}
.mining-about p{
    width: 30%;
    background-color: var(--background-color);
    color: white;
    padding:1rem;
}
.miningList{
    line-height: 3.1rem;
}
.digitalworkers{
    position: relative;
}
.dw-main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.dwHeading{
    position: relative;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 80%;
    line-height: 4.5rem;
}
.dwHeading p{
    font-size: 1.2rem;
}
.dwHeading h2{
    font-size: 4.2rem;
    text-transform: uppercase;
    word-spacing: 0.4rem;
}
.curve{
    border-bottom-left-radius: 35%;
    box-shadow: 0px 0px 20px 10px rgba(4, 5, 54, 0.3);
}
.chat-content{
    width: 100%;
    display: grid;
    grid-template-columns:2fr 2fr;
    grid-gap: 2rem;
    padding: 4rem;
    font-size: 1.4rem;
}
.chat-content p{
    line-height: 2.4rem;
}
.chat-content p:nth-child(1){
    background-color: var(--background-color);
    color: white;
    padding:2rem;
    font-size: 1.5rem;
    margin:0rem 5rem;
}
.chat-content p:nth-child(1) span{
    display: block;
    font-size: 2.25rem;
    font-weight: 550;
}
.chat-content p:nth-child(3){
    grid-column: 1/5;
    word-spacing: 0.11rem;
    margin: 4rem 0rem;
}
.chat-content p:nth-child(4){
    margin-right: 2rem;
}
.blueTxt{
    color: var(--background-color);
    font-weight: 550;
}
.nlp{
    padding: 4rem;
}
.nlp h3{
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
}
.nlp p{
    font-size: 1.34rem;
    font-weight: lighter;
}
.nlpApplications{
    margin-bottom: 4rem;
}
.nlpdw{
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 2.4rem;
}
.nlpdw p{
    width: 45%;
}
.bolder{
    font-weight: bolder;
}
.rpa-content{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 2rem;
    margin-top: 4rem;
}
.rpa-content p{
    font-size: 1.2rem;
}
.useRpa{
    padding:4rem;
}
.useRpa h4{
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
}
.useRpa p{
    line-height: 2.1rem;
}
.bigBolder{
    font-size: 2.1rem;
    font-weight: 800;
    display: block;
    margin-bottom: 2rem;
}
.bpa{
    padding:4rem;
    text-align: center;
    background-color: var(--background-color);
    color: white;
    margin: 2rem 0rem;
}
.bpa-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    width: 100%;
    text-align:start;
}
.bpa-content p{
    margin-top: 2rem;
    width: 45%;
}
.border{
    width: 25rem;
    height: 0.2rem;
    background-color: tomato;
}
.businessAutomation{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    margin:4rem 0rem;
    padding:2rem;

}
.bA-benefits h4{
    font-size: 2.4rem;
}
.businessAutomation p{
    font-size: 1.2rem;
    width: 80%;
    margin-top: 2rem;
}
.businessAutomation img{
    width:550px ;height:350px; filter:drop-shadow(10px 10px 10px gray);
}
.dwUnlocking{
    position: relative;
    height: 100vh;
    margin:4rem 0rem;
}
.bgdw2{
    position: absolute;
    top: 0px;
    left: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:2;
    height: 100%;
    width: 100%;
}
.bgunlock{
    background-image: url('Images/digitalW5.png');
}
.multiply{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color:rgb(44, 44, 100);
    mix-blend-mode: multiply;
    z-index:2;
    height: 100%;
    width: 100%;
    filter:drop-shadow(8px 10px 10px gray);
}
.dwUnlock-content{
    position: relative;
    z-index: 10;
    color: white;
    font-size: 1.2rem;
    padding: 2rem;
}
.dwUnlock-content p{
    line-height: 1.8rem;
    margin-bottom: 1.4rem;
}
.data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}
.data h6{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.data-card img{
    width: 50px;
    height: 50px;
    filter: invert(100);
    margin-bottom: 1.8rem;
}




