@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,800&display=swap');

body,html{
        overflow-x: hidden;
}
*{
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        font-family: 'Fira Sans', sans-serif;
}
.services-technology{
    position: relative;
    width: 100%;
}
.servicesMain-Head{
    position: relative;
    width: 100%;
    height: 100vh;
}
.servicesmainHead-Content{
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    z-index: 5;
    text-transform: capitalize;
}
.servicesmainHead-Content h2{
    font-size: 3.8rem;
    width: 60%;
}
.servicesmainHead-Content p{
    font-size: 1.2rem;
    margin:10rem 20rem 2rem 0rem;
}
.serviceslanding-title{
   position: relative;
   width: 100%;
   height: 100vh;
}
.serviceslanding-content{
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 50;
    text-transform: capitalize;
}
.serviceslanding-content h2{
    font-size: 3.8rem;
}
.serviceslanding-content p{
    margin-bottom: 2rem;
    font-size: 1.4rem;
}
.services-content{
    padding:2rem 4rem 0rem 4rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.cards-content{
    position: relative;
    /* background-color: var(--background-color); */
    padding:4rem;
}
.services-cards{
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 2rem;
    padding:2rem;
}
.services-card{
    box-shadow: 0px 0px 20px 0px rgba(78, 76, 76, 0.2);
    padding:1rem;
    font-size: 1.2rem;
    /* margin:2rem; */
    background-color: white;
}
.services-card h5{
    text-align: center;
    font-size: 1.8rem;
    margin:1.6rem 0rem;
    color:var(--background-color);
}
.services-card > p{
    padding:1rem;
}
.services-check{
    line-height: 1.8rem;
    padding:1rem;
}
@media (max-width:600px) {
    .servicesmainHead-Content{
        text-align: center;
    }
    .servicesMain-Head{
        height: 100%;
    }
    .servicesmainHead-Content{
        align-items: center;
        justify-content: center;
    }
    .servicesmainHead-Content h2{
        font-size: 1.2rem;
    }
    .servicesmainHead-Content p{
        margin:2rem;
        font-size: 0.8rem;    
    }
    .cards-content{
        padding:1rem;
    }
    .services-cards{
        grid-template-columns: 1fr;
        padding: 0.2rem;
    }
}